<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>

</head>
<body>
<div id="main" style="width: 600px;height: 400px;" ></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
<script type="text/javascript">

    var myChart=echarts.init(document.getElementById('main'))
    $.get("http://127.0.0.1:5000/count",function(data,status){
    //alert(data)
     data=JSON.parse(data)
    //alert(data.items)
    myChart.setOption({
        title:{
            text:"各省大数据招聘需求",
        suttext:'',
        x:'center'},
        tooltip:{
            trigger:'item'
        },
        visualMap: {
        min: 0,
        max: 1000,
        left: 'left',
        top: 'bottom',
        text: ['高','低'],           // 文本，默认为数值文本
        calculable: true,
        inRange: {
                color: ['#e0f3f8','#abd9e9','#74add1', '#4575b4', '#313695' ]
            }
            },
        //配置属性
        series:[{
            name:'数据',
            type:'map',
            mapType:'china',
            roam:false,
            label:{
                normal:{
                        show:true
                },
                emphasis:{
                    show:true
                }

            },
            data:data.items
        }]
    })
      });
//myChart.showLoading();


//myChart.setOption(optionMap,true);
</script>
</body>
</html>