<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职位信息查询系统</title>
</head>
<body>
<div id="base" class="">
     <div id="u0" class="ax_default box_1">
        <div id="u0_div" class="" style="position: absolute;left: 0px;top: 0px;width: 1500px;height: 50px;background: inherit;background-color: rgb(0, 0, 128);box-sizing: border-box;border-width: 1px;border-style: solid;border-color:rgb(228, 228, 228);border-radius: 0px ;box-shadow: none;"></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 0px;top: 0px;width: 192px;height: 28px;background: inherit;background-color: rgba(255, 255, 255, 0);border: none;border-radius: 0px;box-shadow: none;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;color: #FFFFFF;">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text ">
          <p><span>行业数据分析平台</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 1380px;top: 5px;width: 50px;height: 22px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 16px;color: #FFFFFF;">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text ">
          <p><span>郝俊淇</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 39px;top: 80px;width: 155px;height: 18px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 14px;">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text ">
          <p><span>大数据行业就业信息分析</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 240px;top: 468px;width: 168px;height: 16px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 14px;">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span>大数据行业需求量地域分布</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u5" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 211px;top: 80px;width: 56px;height: 18px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 14px;color: #0066FF">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text ">
          <p><span>更换行业</span></p>
        </div>
      </div>

      <!-- Unnamed (内联框架) -->
      <div id="u6" class="ax_default" style="border-width: 0px;position:absolute;left: 39px;top: 117px;width: 566px;height: 340px;">
        <iframe id="u6_input" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="http://127.0.0.1:5000/数量分布"></iframe>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u7" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 49px;top: 515px;width: 182px;height: 16px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 14px;">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
          <p><span>大数据行业各职位薪资水平：</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u8" class="ax_default line" style="border-width: 0px;position: absolute;left: 39px;top: 115px;width: 1161px;height: 1px;display: flex">
        <img id="u8_img" class="img " src="../static/images/u8.svg"/>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 833px;top: 468px;width: 182px;height: 12px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 14px;">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>大数据行业平均薪资待遇分布</span></p>
        </div>
      </div>

      <!-- Unnamed (内联框架) -->
      <div id="u10" class="ax_default" style="border-width: 0px;position: absolute;left: 634px;top: 117px;width: 566px;height: 340px">
        <iframe id="u10_input" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="http://127.0.0.1:5000/薪资分布"></iframe>
      </div>

      <!-- Unnamed (内联框架) -->
      <div id="u11" class="ax_default" style="border-width: 0px;position: absolute;left: 49px;top: 573px;width: 1151px;height: 369px">
        <iframe id="u11_input" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="http://127.0.0.1:5000/薪资水平"></iframe>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u12" class="ax_default line" style="border-width: 0px;position: absolute;left: 39px;top: 550px;width: 1161px;height: 1px;display: flex">
        <img id="u12_img" class="img " src="../static/images/u8.svg"/>
        <div id="u12_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表) -->
      <div id="u13" class="ax_default droplist">
        <div id="u13_div" class=""></div>
        <select id="u13_input" class="u13_input">
          <option class="u13_input_option" selected value="全国">全国</option>
          <option class="u13_input_option" value="北京">北京</option>
          <option class="u13_input_option" value="天津">天津</option>
          <option class="u13_input_option" value="上海">上海</option>
          <option class="u13_input_option" value="江苏">江苏</option>
          <option class="u13_input_option" value="浙江">浙江</option>
        </select>
      </div>
      <!-- Unnamed (线段) -->
      <div id="u15" class="ax_default line">
        <img id="u15_img" class="img " src="../static/images/u8.svg"/>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <!-- Unnamed (线段) -->
      <div id="u21" class="ax_default line">
        <img id="u21_img" class="img ">
        <div id="u21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <!-- Unnamed (线段) -->
      <div id="u23" class="ax_default line">
        <img id="u23_img" class="img " />
        <div id="u23_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <!-- Unnamed (图片 ) -->
      <div id="u28" class="ax_default image" style="border-width: 0px;position: absolute;left: 49px;top: 1180px;width: 3166px;height: 652px;display: flex;">
                <iframe id="u28_input" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="http://127.0.0.1:5000/词云"></iframe>

        <div id="u28_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u29" class="ax_default _二级标题" style="border-width: 0px;position: absolute;left: 49px;top: 1142px;width: 112px;height: 16px;display: flex;font-family: 'Arial Normal', 'Arial', sans-serif;font-weight: 400;font-style: normal;font-size: 14px;">
        <div id="u29_div" class=""></div>
        <div id="u29_text" class="text ">
          <p><span>大数据行业关键字</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u30" class="ax_default line" style="border-width: 0px;position: absolute;left: 39px;top: 1180px;width: 1165px;height: 1px;display: flex;">
        <img id="u30_img" class="img " src="../static/images/u8.svg"/>
        <div id="u30_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <!-- Unnamed (下拉列表) -->
      <!--<div id="u32" class="ax_default droplist" style="display: flex;position: absolute;cursor: help;line-height: 14px">-->
        <!--<div id="u32_div" class=""></div>-->
        <!--<select id="u32_input" class="u32_input">-->
          <!--<option class="u32_input_option" value="全部">全部</option>-->
          <!--<option class="u32_input_option" selected value="杭州">杭州</option>-->
          <!--<option class="u32_input_option" value="宁波">宁波</option>-->
        <!--</select>-->
      </div>
</div>
</body>
</html>